<style = 'text/css'>	
	a{
		color : purple;
	}
	
	body{
		background-color : #25383D;
	}
		
	h2{
		font-family : monospace;
		text-decoration : underline;
	}
	
	h3{
		color : #fda50f;
		margin : 1px;
	}
	
	li{
		text-style : oblique 90deg;
	}

	label{
		color : #fda50f;
	}
	
	input[type=text]{
		color : #fda50f;	
	}	
		
	input[type=text]:focus{
		background-color : #fda50f;
		color : black;
	}

	input[type=button]{
		color : black;
		border-color : black;
		margin-top : 10px; 
		margin-left : 50px;

	}		
	
	input[type=button]:hover{
		background-color : navy ;
		color : #fda50f;
	}
	
	nav{
		background-color : #fda50f;
	}
	
	p{
		color : #fda50f;
		font-size : 14pt;
	}
		
	ul{
		color : green;
		text-style : oblique 90deg;
	}

	#write{
		font-family : georgia, monospace;
		font-size : 14pt;
	}
	
</style>